.content {
    display: flex;
    padding: 16px 94px;
    gap: 12px;
    flex-direction: column;
    max-width: 420px;

    h3 {
        margin: 0;
        color: #111;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: #414141;
    }

    .errorMsg {
        color: #CB5456;
        font-size: 13px;
    }

    .buttonBox {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
    }
}

@media (max-width: 520px) {
    .content {
        padding: 16px 24px;
    }
}
