.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-bg);
    background-color: var(--clr-primary);
    border-radius: 20px;
    gap: 10px;
    transition: background-color 250ms, border-color 250ms, color 250ms;
    border: 2px solid var(--clr-primary);
    cursor: pointer;

    img {
        width: 16px;
        height: 16px;
    }

    &.active,
    &.noBorder.active {
        background-color: var(--clr-primary-active);
        border-color: var(--clr-primary-active);
    }

    &:hover,
    &.noBorder:hover {
        background-color: var(--clr-primary-hover);
        border-color: var(--clr-primary-hover);
        color: var(--clr-bg);
    }

    &:focus,
    &.noBorder:focus {
        background-color: var(--clr-primary-active);
        border-color: var(--clr-primary-hover);
        color: var(--clr-bg);
    }

    &:disabled,
    &.noBorder:disabled,
    &.green:disabled {
        background-color: var(--clr-disabled);
        border-color: var(--clr-disabled);
        color: var(--clr-bg);
        cursor: not-allowed;

        &:hover, &:focus {
            background-color: var(--clr-disabled);
            border-color: var(--clr-disabled);
        }
    }

    &.noBorder {
        color: var(--clr-primary-text);
        background-color: transparent;
        border-color: transparent;
    }

    &.green {
        background-color: var(--clr-green);
        border-color: var(--clr-green);

        &.active {
            background-color: var(--clr-green-active);
            border-color: var(--clr-green-active);
        }
        &:hover {
            background-color: var(--clr-green-hover);
            border-color: var(--clr-green-hover);
        }
        &:focus {
            background-color: var(--clr-green-active);
            border-color: var(--clr-green-hover);
        }
    }
}
